<ion-header>
  <ion-toolbar>
    <ion-title>
      Adicionando despesa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-fab horizontal="end" vertical="end" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light">
        <ion-icon name="add-circle" [routerLink]="['/despesa']" routerDirection="forward"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
