<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro de categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <select [id]="categoria" >
    <option *ngFor="let categoria of categorias" [value]="categoria.id" [selected]="selecionada">{{categoria.nome}}</option>
  </select>

  <form (ngSubmit)="salvar()">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="nova.nome" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Cor</ion-label>
      <ion-textarea [(ngModel)]="nova.cor" name="cor"></ion-textarea>
    </ion-item>
  	<ion-list>
      <ion-item class="text" *ngFor="let item of items | async">
        {{item | json}}
      </ion-item>
    </ion-list>

    <button ion-button type="submit" block>Salvar Categoria</button>
  </form>

</ion-content>
